.appContainer {
  background-color: var(--color-bg);
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  height: 200px;
  display: flex;
  gap: 10px;
  border: 1px solid black;
}

.main {
  height: 100%;
  display: flex;
  border: 1px solid black;
}

.sidebar {
  width: 200px;
  border: 1px solid black;
}

.footer {
  height: 100px;
  border: 1px solid black;
}
